.parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

body{
  direction: ltr;
}

.layer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  padding-top: 10px;
  position: relative;
}
.layer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
}

nav{
  background-color: black;
  height: 100vh;
  width: 1000vw;
  position: fixed;
  display: flex;
  z-index: 100;
}
  

section{

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  background-color: #333;
}

.nav_left{
  display: flex;
  width: 85%;
}
.nav-link{
  justify-content: space-between;
  align-content: center;
}
.nav-link a{
  color: white;
  text-decoration: none;
  margin-left: 11rem;
  justify-content: space-between;
  font-size: 1.2rem; 
  transition: 0.6s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.nav-link a:hover{
  color:#818181;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.interactive-text {
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.interactive-text:hover {
  color: #ff9900; /* Change the text color on hover */
}

/* Optional: Add a subtle scale animation on hover */
.interactive-text:hover {
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/* App.css */
.flex-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Set the desired height */
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  margin-top: 175px;
  padding-top: 50px;
  padding-bottom: 200px;
}

.flex-content {
  text-align: center;
}
